*:root {
    --azul-escuro: #003893;
    --azul-claro: #235DBB;
    --laranja: #F68607;
    --header: #F6F1E6;
    --tchuchuca-do-centrao: #D9D9D9;
    --fontes: #FFF;
    --branco-transp: rgba(255, 255, 255, 0.815);
}