header {
    background-color: var(--header);
    text-align: center;
    padding-top: 0.25rem;
    display: flex;
    color: black;
    width: 100%;
}

.logo {
    justify-content: center;
    text-align: center;
    display: flex;
}

.logo img{
    padding-top: 0.1rem;
    padding-bottom: 0.2rem;
    width: 3rem;
    margin-inline: 1rem;
}

span {
    font-weight: bold;
    margin-inline: 0.2rem;
}