.imagem-inicio img {
    width: 100%;
}

.imagem-inicio {
    margin-bottom: 2rem;
}

.historia {
    display: flex;
    padding: 8rem;
}

.esquerda-historia img {
    width: 21.5rem;
    height: 15rem;
    padding: 1.2rem;
    float: left;
    border-radius: 2rem;
}

.direita-historia {
    background-color: var(--azul-escuro);
    margin-bottom: 3rem;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

.direita-politica{
    background-color: var(--azul-escuro);
    margin-bottom: 3rem;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

.right-cultura{
    background-color: var(--azul-escuro);
    margin-bottom: 3rem;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

.right-ig{
    background-color: var(--azul-escuro);
    margin-bottom: 3rem;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

.right-pt{
    background-color: var(--azul-escuro);
    margin-bottom: 3rem;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

.esquerda-politica img{
    width: 21.5rem;
    height: 15rem;
    padding: 1.2rem;
    float: left;
    border-radius: 2rem;
}

.left-cultura img{
    width: 21.5rem;
    height: 15rem;
    padding: 1.2rem;
    float: left;
    border-radius: 2rem;
}

.left-ig img{
    width: 21.5rem;
    height: 15rem;
    padding: 1.2rem;
    float: left;
    border-radius: 2rem;
}

.left-pt img{
    width: 21.5rem;
    height: 15rem;
    padding: 1.2rem;
    float: left;
    border-radius: 2rem;
}